
body {
    max-width: max-content;
    margin: auto;
}


#playBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
    margin-top: 7em;
    
}

.squares {
    min-width: 100px;
    border: 1px solid black;
}



