
body {
    max-width: max-content;
    margin: auto;
    background-color: #E5D9B6;
}

#maincontainer {
    min-width: 400px;
    margin-top: 20px;
    background-color: #A4BE7B;
    padding: 10px;
    border-radius: 7px;
    
}


#playBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
    min-height: 300px;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    
}

.squares {
    min-width: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
}

#playerNameEntries {
    text-align: center;
}

#playerNameForm {
    margin-left: 100px;
}

#restartB {
    margin-left: 150px;
}


